[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=notify
{% if disable_traefik == true %}
  {% if hostvars[groups['masters'][0]]['ansible_host']  %}
ExecStart=/usr/local/bin/k3s server --disable traefik
  {% else %}
ExecStart=/usr/local/bin/k3s server --disable traefik --server https://{{ master_node_ip }}:6443 --token "{{ k3s_join_token }}"
  {% endif %}
{% else %}
  {% if hostvars[groups['masters'][0]]['ansible_host']  %}
ExecStart=/usr/local/bin/k3s server
  {% else %}
ExecStart=/usr/local/bin/k3s server --server https://{{ master_node_ip }}:6443 --token "{{ k3s_join_token }}"
  {% endif %}
{% endif %}
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target

